body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  /*16px = 100% = 1 em =1 rem */
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr{
  margin: 100px auto;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 7px;
  width: 5%;
}
p{
    line-height: 2;
}

.top-container {
  padding-top: 100px;
  background-color: #E4F9F5;
  position: relative;
}
.bottom-container{
  background-color: #66BFBF;
  padding-bottom:  100px;
  margin-top: 80px;
}
.footer-link{
  padding: 20px;
  position: relative;
  top: 60px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #11999E;
}
a:hover{
  color: #EAF6F6;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.profile {
  position: relative;
  top: 10px;
}
.profile-picture{
  width: 150px;
  height: 150px;
  margin-top: 50px;
}

.wings{
  width: 40%;
  margin: 40px auto 60px;
}
.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.chilli-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.tag{
  color: #EAF6F6;
  font-size: 0.75rem;
  position: relative;
  top: 80px;
}



.btn {
    margin: 10px auto 30px auto;
    background: #11cdd4;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
.btn:hover {
   border: solid #3BC4AD 1px;
   background: #30E3CB;
   background-image: linear-gradient(to bottom, #30E3CB, #3BC4AD);
   border-radius: 8px;
   text-decoration: none;
}
